ul{
    height: 20vh;
    width: 70vh;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
Link{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    
}
li:after{
    content: "";
    position: absolute;
    background-color: blue;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
li:hover:after{
    width: 100%;
}